* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    font-family: @font-family;
}

._margin_no {
    margin: 0 !important;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    &,
    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
        text-decoration: none;
        outline: none;
    }

    &,
    &:visited {
    }

    &:hover,
    &:focus,
    &:active {
    }

}
